.App{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.barContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-end;
  height: 400px;
  width: 500px;
  border: 20px solid lightgrey;
  border-radius: 1px;
  margin-right: 5px;

}
.gainloss{
  font-size: 2rem;
  font-weight: bolder;
}
.bar{
  width: 500px;
}
.barInfo{
  margin-right: 250px;
  margin-bottom: 1rem;
}
.dollor{
  color: grey;
  font-size: 1rem;
  position: relative;
  bottom: 10px;
}
.percentagepl{
  background-color:rgb(67, 207, 207);
  color: white;
  border-radius:5px;
  font-size: 1.5rem;
}
.pldata{
  color: grey;
}
.areacontainer{
  display: flex;
  border: 20px solid lightgrey;
  margin-left: 5px;
  flex-direction: column;
  align-items:center;
  justify-content:flex-end;
  height: 450px;
  width: 600px;
  border-radius: 1px;
}
.info-firsthalf{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.threedot{
  cursor: pointer;
  border: 1px solid rgb(248, 243, 243);
  height: 25px;
  padding: 0px 5px;
  border-radius: 5px;
  background-color: lightgrey;
  color: grey;
  font-weight: bolder;
  margin-left: 300px;
}
.bold{
  font-weight: bolder;
  font-size: large;
}
.info-secondhalf{
  margin-bottom: 35px;
  margin-right: 325px;
}
@media only screen and (max-width: 1200px){
  .App{
    flex-direction: column;
    margin:20px 0px;

  }
  .barContainer{
    margin:5px 0px;
  }
  .areacontainer{
    margin:5px 0px;
  }
}

@media only screen and (max-width: 645px){
  .areacontainer{
    width: 350px;
    border: 5px solid lightgrey;
  }
  .threedot{
    margin-left: 100px;
  }
  .info-secondhalf{
    margin-right:125px
  }
  .barContainer{
    border: 5px solid lightgrey;
    width: 300px;
    /* justify-content: center; */
  }
  .barInfo{
    margin-right: 100px;
  }
  .bar{
    width: 300px;
  }

}